<h1>Listing games</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Team1id</th>
    <th>Team2id</th>
    <th>Team1score</th>
    <th>Team2score</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.date %></td>
    <td><%= game.team1id %></td>
    <td><%= game.team2id %></td>
    <td><%= game.team1score %></td>
    <td><%= game.team2score %></td>
    <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_game_path %>
