<p id="notice"><%= notice %></p>

<p>
  <b>Game date:</b>
  <%= @game.date %>
</p>

<table>
  <tr align='center'>
    <td width='1'></td>
    <td width='200'></td>
    <td width='1'></td>
    <td width='200'></td>
  </tr>
  <tr align='center'>
    <td></td>
    <td><b>Team <%= Team.find_by_id(@game.team1id).name %></b></td>
    <td><b>VS</b></td>
    <td><b>Team <%= Team.find_by_id(@game.team2id).name %></b></td>
  </tr>
  <tr align='center'>
    <td align='right'><b>Score:</b></td>
    <td><%= @game.team1score %></td>
    <td></td>
    <td><%= @game.team2score %></td>
  </tr>
  <tr align='center'>
    <td align='right'><b>Strength:</b></td>
    <td><%= @team1.strength %></td>
    <td></td>
    <td><%= @team2.strength %></td>
  </tr>
  <% 0.upto(@max) do |i| %>
    <tr align='center'>
      <td align='right'><b><%= if i == 0 then 'Players:' end %></b></td>
      <td><%= player1 = @team1.players.at(i) 
      player1.fullname if player1 %></td>
      <td></td>
      <td><%= player2 = @team2.players.at(i) 
      player2.fullname if player2 %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
