<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @game.date %>
</p>

<p>
  <b>Team1id:</b>
  <%= @game.team1id %>
</p>

<p>
  <b>Team2id:</b>
  <%= @game.team2id %>
</p>

<p>
  <b>Team1score:</b>
  <%= @game.team1score %>
</p>

<p>
  <b>Team2score:</b>
  <%= @game.team2score %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
